
.hidden {
    display: none;
}

/*Goes for all sections, sets basic styling*/
.view {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px;
}

#remote-form-container{
    
}

/* Ensures vertical stacking of input and labels */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.input-group input {
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #2ecc71;
}

button {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}


/* Styled to look largely like anormal terminal */
.mini-terminal {
    background: black;
    color: white;
    height: 500px;
    width: auto;
    padding: 10px 15px;
    overflow-y: auto;
    font-size: 12px;
    border-radius: 4px;
    white-space: pre-wrap;
}



/* Styling for register page */
#register-page{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

#register-page h1{
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 4px solid #2ecc71;
    display: inline-block;
    padding-bottom: 5px;
}

#register-user {
    background-color: black;
    border:none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    width: 100%;
}

#register-user:hover {
    background-color: #2ecc71;
}

#login-link {
    border-bottom: 1px solid #2ecc71;
    color: black;
    font-size:0.9rem;
}

#login-link:hover{
    color:#2ecc71;
}



/* Styling for register page */
#login-page{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

#login-page h1{
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 4px solid #2ecc71;
    display: inline-block;
    padding-bottom: 5px;
}

#login-user {
    background-color: black;
    border:none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    width: 100%;
}

#login-user:hover {
    background-color: #2ecc71;
}

#register-link {
    border-bottom: 1px solid #2ecc71;
    color: black;
    font-size:0.9rem;
}

#register-link:hover{
    color:#2ecc71;
}


