
.hidden {
    display: none;
}

/*Goes for all sections, sets basic styling*/
.view {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#remote-form-container{
    
}

/* Ensures vertical stacking of input and labels */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}


/* Styled to look largely like anormal terminal */
.mini-terminal {
    background: black;
    color: white;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    font-size: 12px;
    border-radius: 4px;
    white-space: pre-wrap;
}

